<h1 style="color:blue;">Lets play Rock! Paper! Scissors!</h1>
<p> How to play: In the address bar type /rock, /paper or /scissors and try to beat the computer!</p>
<img src=http://www.sternbergclarke.co.uk/images/9104.png />
