<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Rock Paper Scissors!</title>
  </head>
    <link rel="stylesheet" href="/style.css">
  <body>
    <nav>
      <ul>
        <li><a href="/game">Instructions</a></li>
        <li><a href="/about_us">About Us</a></li>
        <li><a href="/game/rock">Play ROCK!</a></li>
        <li><a href="/game/paper">Play PAPER!</a></li>
        <li><a href="/game/scissors">Play SCISSORS!</a></li>
      </ul>
    </nav>
    <%= yield %>
  </body>
</html>
